h1 {
  text-align: center;
  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 20px;
  color: white;
}

.search-tasks {
  width: 100%;
  font-size: x-large;
  padding: 20px;
  outline-width: 0;
}

.search-tasks::placeholder {
  color: #d4ccccfa;
}

.create-contact-details {
  display: flex;
}

.create-contact-details > input {
  width: 80%;
  padding: 20px;
  font-size: x-large;
}

.create-contact-details > input::placeholder {
  color: #d4ccccfa;
}

.create-contact-details > button {
  padding: 20px;
  width: 20%;
}

.task-list {
  margin: 0px;
}

.task-list-item {
  display: flex;
}



.task-details {
  width: 80%;
}

.task-remove {
  width: 20%;
  background-color: red;
  border: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
